*{
    margin: 0;
    padding: 0;
text-align: center;
}

h1{
    background-color: rgb(10, 10, 56);
    color: white;
    height: 5rem;
    line-height: 5rem;
    
    
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(12, 12, 61);
    
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    
    background-color: rgb(9, 9, 46);
    color: white;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-bottom: 1rem;
}